DATABASE_URL="postgresql://user:password@localhost:5432/foe_db?schema=public"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
CLOUDINARY_UPLOAD_FOLDER="foe"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
